body{
    background-color: lightgrey;
}
.navig{
    background-color: darkblue;
}
.jumb .jumbotron{
    border-radius: 00px;
    color: white;
}
.display-1{
    font-weight: bold;
    padding-left: 10%;
    font-family:"Arial";
}
.main{
    
    width: 85%;
    height: 40%;
    margin:-4% 10% 0% 7%;
}
.main .jumbotron .form-check-label{
    padding-left:5%;
}
.jumb .jumbotron .grid_system .row .col-sm-6 .jumbotron{

    margin:0% 14% 00% 28%;

}
.main .jumbotron{
    border-radius: 00px;
}
