<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
</head>

<body>
    <div class="navig">
            <nav class="navbar navbar-expand-sm">
                    <div class="grid_system">
                        <div class="row">
                            <%for( var i=0;i<nav.length;i++){%>
                                 <div class="col-sm-2"><a class="nav-link text-white" href="<%=nav[i].link%>"><b><%=nav[i].title%></b></a></div>                           
                            <%}%>
                    </div>              
            </nav>
    </div>
    <div class="jumb">
            <div class="jumbotron" style="background-color: rgb(0, 0, 65);" >
                <div class="grid_system">
                    <div class="row">
                        <div class="col-sm-6"> <div class="display-1"> <b><%=title%></b></div></div>
                        <div class="col-sm-6"><div class="jumbotron" style="background-color:darkblue;"></div> </div>  
                    </div>
                </div>           
           </div>
        </div>
    <div class="main">
           <div class="jumbotron" style="background-color: white;"><br>
                <span class="col-xs-2" >
                            <img src="/images/img1.jpg" class="float-left" alt="image not supported" width="200" height="150">
                    </span>        
                    <span class="col-xs-10">
                    <span><br><br>
                        <h3>I will never tell</h3>
                            <p><span class="badge badge-secondary">97thfloor.com</span><br> <p><small>2 hours ago </small> </p>
                    </span><br> 
                </span> <br><hr><br>
                <span class="col-xs-2">           
                        <img src="images/img2.jpg" class="float-left" alt="image not supported" width="200" height="150">
                </span>
                <span class="col-xs-10"> <br><br>
                        <h3>Half girlfriend</h3>
                        <span class="badge badge-secondary">devgarage.com</span><br>
                        <p><small>3 hours ago </small></p>
                </span><br><br><br>
            </div>
    </div>  
</body>
</html>