<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/signup.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
</head>
 <body>
        <div class="navig">
            <nav class="navbar navbar-expand-sm">
                <div class="grid_system">
                        <div class="row">
                            <%for(var i=0;i<nav.length;i++){%>
                            
                                 <div class="col-sm-2"><a class="nav-link text-white" href="<%=nav[i].link%>"><b><%=nav[i].title%></b></a></div>
                            <%}%>
                        </div>
                </div>
            </nav>
       </div>
       <div class="jumb">
            <div class="jumbotron" style="background-color: rgb(0, 0, 65);" >
                <div class="grid_system">
                    <div class="row">
                        <div class="col-sm-6"> <div class="display-1"> <b><%=title%></b></div></div>
                        <div class="col-sm-6"><div class="jumbotron" style="background-color:darkblue;"></div> </div>
                    </div>
                </div>        
           </div>
    </div>
   <div class="main">
            <div class="jumbotron" style="background-color: white;">
                <form action="#" method="GET" onsubmit="return validationform(this)">
                    <div class="form-group">
                            <div class="display-2 text-success" style="text-align: center;"><b>SignUp</b></div><br><br>
    
                        <form class="my-form" action="about.js" method="post">
                                  
                                    <div class="formgroup row">
                                            <label for="firstname" class="col-sm-2 col-form-label">First Name :</label>
                                            <div class="col-sm-10" >
                                            <input type="text" class="form-control" name="name" id="firstname" placeholder="firstname" required></div>
                                   </div><br>
                                   <div class="formgroup row">
                                        <label for="secondname" class="col-sm-2 col-form-label">Second Name :</label>
                                        <div class="col-sm-10" >
                                        <input type="text" class="form-control" name="name" id="secondname" placeholder="secondname" required></div>
                                 </div><br>
                                 <div class="formgroup row">
                                    <label for="email" class="col-sm-2 col-form-label">Email :</label>
                                    <div class="col-sm-10" >
                                    <input type="email" class="form-control" name="email" id="username" placeholder="email" required></div><br><br>
                                 </div>
                                 <div class="form-group row">
                                        <label for="address" class="col-sm-2 col-form-label">Address :</label>
                                        <div class="col-sm-10">
                                                <input type="textarea" name="address" class="form-control" required>
                                        </div>
                                 </div>
                                 <div class="form-group row">
                                        <label for="phonenumber" class="col-sm-2 col-form-label">Phone Number :</label>
                                        <div class="col-sm-10">
                                        <input type="number" name="phonenumber"  id="phonenumber" placeholder="phone number" required>  </div>
                                 </div>
                                 <div class="form-group row">
                                     <label for="1known" class="col-sm-2 col-form-label">Languages Known</label>
                                     <div class="col-sm-10" required>
                                         <input type="checkbox">English
                                         <input type="checkbox">Hindi
                                         <input type="checkbox">Malayalam
                                     </div>
                                 </div>
                                 <div class="form-group row">
                                        <label for="password" class="col-sm-2 col-form-label">Date Of Birth :</label>
                                        <div class="col-sm-10">
                                        <input type="date" required>  </div>
                                 </div>                                
                                 <div class="form-group row">
                                        <label for="gender" class="col-sm-2 col-form-label">Gender :</label>
                                        <div class="col-sm-10">
                                        <input type="radio" name="gender" value="male" checked>Male
                                        <input type="radio" name="gender" value="female" >Female
                                        </div>
                                 </div>
                                 <div class="form-group row">
                                        <label for="country" class="col-sm-2 col-form-label">Country :</label>
                                        <div class="col-sm-10">
                                        <select required>
                                             <option value="india">India</option>
                                             <option value="Pakistan">Pakistan</option>
                                             <option value="china">China</option>
                                             <option value="nepal">Nepal</option>
                                        </select>
                                        </div>
                                 </div>
                                 <div class="formgroup row">
                                        <label for="Password" class="col-sm-2 col-form-label">Password :</label>
                                        <div class="col-sm-10" >
                                        <input type="password" class="form-control" name="password1" id="password1" placeholder="password" required></div><br><br>
                                 </div>   
                                 <div class="formgroup row">
                                         <label for="Password" class="col-sm-2 col-form-label">Confirm Password :</label>
                                        <div class="col-sm-10" >
                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="confirm password" required></div><br><br>
                                 </div> 
                        <div class="form-group row">   
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-secondary"><b>Sign Up</b></button>                                           
                                </div>
                            </div>   
                </form>
            </div>
        </div>
    <script src="/js/signup.js"></script>
</body>
</html>